// font
$noto: 'Noto Sans KR';

// color
$white: #fff;
$black: #000;
$black2: #060b11;
$black3: rgba($black2, .48);
$gray: rgba($black2, .24);
$yellow: #ffdb00;
$yellow2: #fecc3d;
$yellow3: #fff9bf;

// z-index
$z-zero: 0;
$z-min: 1;
$z-neg: -1;
$z-layer: 100;

// size
$content-width: 375px;
